*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lato', sans-serif;
  src: url('https://fonts.googleapis.com');
}

body {
  width: 100vw;
  height: 100vh;
  padding: 2rem 2rem;
  font-family: 'Lato';
  background: linear-gradient(to left, #d66c45, #d58131, #4a736a, #324756);
}

.wrapper {
  display: flex;
}

.dropdown-wrapper {
  width: 15rem;
  height: 2.5rem;
  font-size: 1.1rem;
  margin: 0 2rem;
  padding: 0.2rem;
  background-color: #2789ca;
  color: #fff;
  border: none;
}

.category,
.title {
  width: 15rem;
  font-size: 1rem;
}

.show {
  display: block;
}
